:root {
    color-scheme: light dark;
	font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
	--bg-color: light-dark(#e8e3e0, #333030);
    --subtle-contrast-color: light-dark(#333030, #e8e3e0);
    --subtle-bg-color: color-mix(in srgb, var(--bg-color) 90%, var(--subtle-contrast-color));
    --text-color: light-dark(black, white);
	--subtle-text-color: color-mix(in srgb, var(--text-color) 60%, var(--subtle-bg-color));
    --border-radius: 0.5rem;
	@supports (interpolate-size: allow-keywords) and (transition-behavior: allow-discrete) {
		@media not (prefers-reduced-motion: reduce) {
			--details-summary-transition-duration: 0.2s;
			--details-summary-open-delay: 0.2s;
		}
	}
}

* {
    margin: 0;
    accent-color: var(--primary-color);
}

/*
Override the default details/summary marker, since Safari/iOS 26.1 for some reason display the right triangle as an Emoji.
Since all other unicode symbols make the rendering in other browsers worse, this completely replaces the default marker.
 */
summary {
	list-style-type: none;
	--arrow-size: 0.6em;

	&::before {
		content: "";
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		/* the magic number is sin(60°) for an equilateral triangle */
		border-width: calc(var(--arrow-size) * 0.8660254038) calc(var(--arrow-size) / 2) 0;
		margin-right: 0.5ch;
		border-color: currentColor transparent transparent;
		rotate: -90deg;
		transition: rotate var(--details-summary-transition-duration, 0s) ease-in-out;
	}
}
details[open] summary::before {
	rotate: 0deg;
	transition-delay: var(--details-summary-open-delay, 0s);
}

pre {
	white-space: pre-wrap;
	text-wrap: pretty;
}

a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--primary-color);

    &:hover {
        color: var(--primary-color);
    }
}

hr {
    width: max(80%, 20ch);
    margin: 3rem auto;
    border: solid var(--subtle-contrast-color);
    border-image: linear-gradient(to right, transparent, var(--text-color) 30%, var(--text-color) 70%, transparent) 1 0 0 / 1px 0 0;
    border-width: 1px 0 0;
}

h1, h2 {
    margin-block: 1rem 0.5rem;
}

h3, h4, h5, h6, p {
    margin-block: 0.5rem;
}

code {
    background: var(--subtle-bg-color);
    padding: 0.25rem;
    border-radius: var(--border-radius);
    font-family: monospace;
}

pre:has(> code) {
	overflow-x: auto;
	container: inline-size;

	& > code {
		display: inline-block;
		padding: 0.5rem;
		min-width: 100cqw;
		box-sizing: border-box;
	}
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.select-all {
    user-select: all;
}

.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-color: currentColor;
	mask: var(--icon-url);
}

html {
    background: var(--bg-color);
}

body {
    max-width: 90ch;
    padding: 1rem;
    margin-inline: auto;
	container: --page / inline-size;
}

.fancy-quotes {
    &::before {
        content: open-quote;
    }

    &::after {
        content: close-quote;
    }

    &::before, &::after {
        color: var(--primary-color);
    }
}

.links {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
}

.tabs {
	display: flex;
	flex-wrap: wrap;
	column-gap: 0.5rem;

	details {
		display: contents;

		summary {
			order: -1;
			margin-bottom: 0.5rem;
			border-radius: var(--border-radius);
			border: 2px solid var(--subtle-bg-color);
			padding: 0.125rem 0.5rem;
			user-select: none;

			details[open] > & {
				background: var(--subtle-bg-color);
			}
		}
		.content {
			width: 100cqw;
		}
	}
	&:not(:has(details[open])) {
		margin-bottom: -0.5rem;
	}
	@supports (interpolate-size: allow-keywords) and (transition-behavior: allow-discrete) {
		@media not (prefers-reduced-motion: reduce) {
			transition: margin-bottom var(--details-summary-transition-duration, 0s) ease-in-out var(--tabs-transition-open-delay, 0s);

			&:has(details[open]) {
				--tabs-transition-open-delay: var(--details-summary-open-delay);
			}
			details {
				&::details-content {
					display: block;
					height: 0;
					opacity: 0;
					interpolate-size: allow-keywords;
					overflow-y: hidden;
					transition:
						content-visibility var(--details-summary-transition-duration) allow-discrete,
						height var(--details-summary-transition-duration) ease-in-out,
						opacity var(--details-summary-transition-duration) ease-in-out;
				}

				&[open]::details-content {
					height: auto;
					opacity: 1;
					transition-delay: var(--details-summary-open-delay);
				}
			}
		}
	}
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 0.25rem 0.5rem;
    text-align: left;

    &.short-min-width {
        width: 2ch;
    }

    &.no-wrap {
        white-space: nowrap;
    }

    &.time {
        width: max-content;
        max-width: max-content;
    }

    &:first-child {
        border-radius: var(--border-radius) 0 0 var(--border-radius);
    }

    &:last-child {
        border-radius: 0 var(--border-radius) var(--border-radius) 0;
    }

    svg, .icon {
        vertical-align: middle;
    }
}

:is(thead, :nth-child(2n of tr)) :is(td, th) {
    background: var(--subtle-bg-color);
}

.hashes-trigger {
    position: relative;

    .hashes {
        display: none;
    }

    &:hover .hashes {
        display: block;
        position: absolute;
        box-sizing: content-box;
		max-width: 50vw;
		width: max-content;
        top: 0;
        left: 0;
        background: var(--subtle-bg-color);
        border-radius: var(--border-radius);
        border: 1px solid var(--subtle-contrast-color);
        padding: 0.5rem;
        z-index: 1;
        font-size: small;

        ul {
            list-style: none;
            padding: 0;
        }

        li {
			word-break: break-all;
        }

        .type {
            font-weight: bold;
        }

        .hash {
            font-family: monospace;
            user-select: all;
        }
    }
}

.relocated {
	color: var(--subtle-text-color);
}

.relocation-info {
	display: inline-block;
}

footer {
    display: flex;
    justify-content: center;
    font-size: x-small;

    & > ul {
        display: contents;
        list-style: none;

        & > li:not(:first-child)::before {
            content: "  ·  ";
            white-space: pre;
        }
    }
}

@media not (prefers-reduced-motion: reduce) {
	@view-transition {
		navigation: auto;
	}

	.meta {
		view-transition-name: meta;
	}

	.meta-description-divider {
		view-transition-name: meta-description-divider;
	}

	.meta-file-list-divider {
		view-transition-name: meta-table-divider;
	}

	.file-list-footer-divider {
		view-transition-name: table-footer-divider;
	}

	.file-list {
		view-transition-name: file-list;
	}
}
